<div class="row">
	<div class="col-sm-12">
		<div class="sub-header">
			<h1 class="pull-left"><%= @member.name %></h1>
		</div>

		<%= form_for [@member], html: { class: 'form-horizontal' } do |f| %>
			<div class="box-body">
		        <%= render partial: 'form', member: @member, locals: { f: f } %>
		        <div class="box-footer">
		          <%= f.submit 'Save Edits', class: 'btn btn-info' %>
		          <%= link_to 'Cancel', admin_members_path, class: 'btn' %>
		        </div>
		    </div>
		<% end %>
	</div>
</div>