<div class="row">
	<div class="col-sm-12">
		<div class="sub-header">
      <h1 class="pull-left"><%= @member.name %></h1>
    </div>
	</div>

	<div class="content-wrapper">
		<div class="col-sm-4">
			<div class="profile_picture">
				<img src="http://placehold.it/150x150" alt="">
			</div>
		</div>
		<div class="col-sm-8">
			<p>
				<strong>Name</strong>
				<br>
        <%= @member.name %>
      </p>
			<p>
				<strong>Email</strong>
				<br>
        <%= @member.email %>
      </p>
		</div>

    <div class="col-sm-12">
      <div class="box-visits">
        <lu class="member_list">

        </lu>
      </div>
    </div>


		<div class="col-sm-12">
			<div class="box-footer">
				<%= link_to 'Back to list', admin_members_path, class: 'btn btn-success' %>
			</div>
		</div>
			
	</div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
     getMemberVisits('<%= @member.memberId %>', '<%= @member.spaceId %>');
  });

  function getMemberVisits(memberId, spaceId){
      firebase.database().ref("spaceMemberVisits/"+spaceId+"/"+memberId).once('value').then(function(snapshot){
          snapshot.forEach(function(snapShot) {
              var visit = snapShot.val();
              console.log(visit);
              $(".member_list").append("<li>" + visit.id + "</li>");
          });
      });
  }

  function getTime(miliseconds){
      var seconds = (A/1000)%60
      minutes=(A/(1000*60))%60
      hours=(A/(1000*60*60))%24
  }
</script>